<!DOCTYPE html>
<html>
    <head>
        <title>The date</title>
    </head>
    <body>
        <h1>The date is <%= Time.now.strftime("%A, %B %d, %Y") %></h1>
        <p>Create a template called date.erb in views that gets rendered via GET /date.
          It should contain an h1 with the content Today</p>
    </body>
</html>
