<!DOCTYPE html>
<html>
    <head>
        <title>See ya!</title>
    </head>
    <body>
      <%= name = "Joe" %>
        <h1>Goodbye <%= name %></h1>
        <p>Create another template called goodbye.erb in views. In this view, use ERB tags to create a variable name.</p>
        <p>This variable should store the name Joe. Then, using ERB tags, say "Goodbye Joe" in an h1 tag.</p>
        <p>This should get rendered via a GET /goodbye route by your App controller in app.rb.</p>
    </body>
</html>
